.filter{
    position: relative;
}

.looking_for {
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    justify-content: center;
}

.looking_for p {
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    text-align: center;
}

.filter__input {
    width: 180px;
    height: 30px;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: 0px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.filter__input::placeholder {
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}


.coffee_button{
    width: 170px;
    height: 42px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 45px;
    box-shadow: 2px 2px 16px 3px rgba(187, 199, 208, 0.21);
    background-color: #000000;
    color: #FFFFFF;
}

.coffee__grid {
    display: grid;
    grid-template-columns: 220px 220px 220px;
    column-gap: 70px;
    row-gap: 60px;
    margin: 0 auto;
    margin-top: 60px;
    justify-content: center;
    list-style-type: none;

}

.coffee__item{
    height: 260px;
    width: 220px;
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
    background: #FFFFFF;
    border-radius: 8px;
}

.coffee__item-img {
    display: block;
    margin: 0 auto;
    margin-top: 35px;
    background-size: cover;
    width: 170px;
    height: 180px;
}

.coffee__item-name {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-top: 10px;
    text-decoration: none;
}

.exit {
    width: 1em;
    height: 1em;
    background-color: #000000;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    cursor: pointer;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
}

.wrap{
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0; top: 0; right: 0; bottom: 0;
    justify-content: center;
    align-items: center;
}

.singleCoffee{
    width: 700px;
    height: 400px;
    display: grid;
    margin: 0 auto;
    background-color: #fff;
    z-index: 10;
    border-radius: 10px;
    grid-template-columns: 250px 250px;
    grid-auto-rows: 350px;
    column-gap: 80px;
    justify-content: center;
    position: fixed;
    overflow: auto;
    position:absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-55%);
}



.singleCoffee__img{
    background-size: cover;
    width: 300px;
    height: 300px;
    margin-top: 50px;
}

.singleCoffee_descr{
    width: 250px;
    text-align: left;
    margin-top: 50px;
}


.singleCoffee_descr h2{
    text-align: center;
    margin-top: 0;
}

.singleCoffee_descr p {
    width: 250px;
    font-size: 12px;
    word-wrap: wrap;
}

.modalBackdrop{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,0.2);
}