
.coffeine{
    margin-top: 50px;
    width: 550px;
    height: 300px;
    background-color: #2d2a2a;
    border-radius: 10%;
    box-shadow: 11px 11px 10px 2px rgba(101, 103, 62, 0.15);
    display: block;
    margin: 0 auto;
    margin-bottom: 80px;
}

.coffeine__title {
    color: #FFFFFF;

}

.coffeine__form {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.coffeine__inp{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.coffeine__input{
    width: 135px;
    display: block;
    margin: 0 auto;
    height: 32px;
    border-radius: 10px;
    background-color:#FFFFFF;
    margin-right: 5px;
    margin-left: 5px;
}

.coffeine__input::-webkit-input-placeholder {
    text-align: center;
    background-color: #FFFFFF;
    color: #000000;
    padding: auto;
}


.coffeine__button{
    width: 170px;
    height: 42px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 45px;
    box-shadow: 2px 2px 16px 3px rgba(187, 199, 208, 0.21);
}

.error_age {
    color: red;
    font-size: 10px;
    position: absolute;
    transform: translateX(-100px) translateY(-20px);
}

.error_weight {
    color: red;
    font-size: 10px;
    position: absolute;
    transform: translateX(80px) translateY(-20px);
}

.result {
    display: block;
    margin-bottom: 30px;
}